<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <!--服务器相关-->
    <add key="ServerID" value="7" />
     <!--短信宝帐号类型AccountTypesID--> 
    <add key="SMSAccountID" value="2" />
    <!--检查数据库的时间间隔（单位：毫秒）。默认：3000-->
    <add key="CheckDBInterval" value="3000" />
    <!--消息的有效期差（单位：分钟）。默认：3600分钟。超过的有效期，服务会视为无效，而不取。-->
    <add key="MessageValidPeriodDiff" value="3600" />
    <!--API基本路径-->
    <add key="APIBaseUrl" value="http://127.0.0.1"/>
    <!--<add key="APIBaseUrl" value="http://t.zcoo.net"/>-->
    <!--<add key="APIBaseUrl" value="http://zcootong-dev10.chinacloudsites.cn"/>-->
    
    <!--消息在内存中，保存的最大数。默认：只保留100条消息记录。防止内存占用太大-->
    <add key="MessageCapacity" value="20" />
    <!--当被微信限制时，多少秒重试一次。默认：15秒。-->
    <add key="CheckWXIntervalWhenBlock" value="60" />
    <!--当有异常发生时重试等待时间。默认：15秒。-->
    <add key="TryIntervalWhenException" value="5" />

    <!--每天清除微信豆腐块开始小时。默认开始：0时-->
    <add key="DeleteAppMsgIDsWidgetsStartHour" value="0" />
    <!--每天清除微信豆腐块开始小时。默认结束：6时-->
    <add key="DeleteAppMsgIDsWidgetsEndHour" value="0" />

    <!--是否显示封面到内容。默认：false-->
    <add key="ShowCoverInContent" value="1" />
    <!--是否显示“阅读原文”链接到内容。默认：false-->
    <add key="ShowSourceUrlInContent" value="0" />

    <!--时区差-->
    <add key="TimeZoneDiff" value="0" />

    <!--发送失败时，重试次数-->
    <add key="RetryTimes" value="5" />

    <!--AES加密解密密钥，可为任意长度-->
    <add key="AESEncryptSecret" value="520zcoo52022$29@eio932" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>